           <script id="header" type="text/x-handlebars-template">
            <header>
                <img class="logo" src="{{header.logo}}" alt="">
                <a href="javascript:void(0);" class="icon">
                    <div></div>
                    <div></div>
                    <div></div>
                </a>
                <nav class="main-nav-mobile">
                    <ul>
                        <li><a href="#section-one">{{header.nav.home}}</a></li>
                        <li><a href="#section-two">{{header.nav.aboutUs}}</a> </li>
                        <li><a href="#section-four">{{header.nav.programs}}</a></li>
                        <li class="dropdown sub-dropdown"><button class="dropbtn sub-dropdown-btn" type="scall">{{header.nav.studentServices}}<i
                                    class="fa fa-caret-down"></i></button>
                                </li>
                        <li class="sub-dropdown-content">
                                    <a class="a-sdc" href="https://sisportal-100533.campusnexus.cloud/CMCPortal/?wa=wsignin1.0&wtrealm=https%3a%2f%2fsisportal-100533.campusnexus.cloud%2fCMCPortal%2f&wctx=rm%3d0%26id%3dpassive%26ru%3d%252fCMCPortal%252fsecure%252fstaff%252fstaportal.aspx&wct=2020-05-07T13%3a03%3a17Z">{{header.nav.studentServices.selfServicePortal}}</a>
                                    <a class="a-sdc"  href="https://online.ltuc.com/d2l/home">{{header.nav.studentServices.desireToLearn}}</a>
                                    <a class="a-sdc" href="https://employmenthub.ltuc.com">{{header.nav.studentServices.EducationForEmployment}}</a>
                        </li>
                        <li><a href="#footer">{{header.nav.contactUs}}</a></li>
                    </ul>
                </nav>
                    <div></div>
                    <nav class="main-nav">
                        <ul>
                            <li><a href="#section-one">{{header.nav.home}}</a></li>
                            <li><a href="#section-two">{{header.nav.aboutUs}}</a></li>
                            <li><a href="#section-four">{{header.nav.programs}}</a></li>
                            <li class="dropdown"><button class="dropbtn" type="scall">{{header.nav.studentServices}}<i
                                        class="fa fa-caret-down"></i></button>
                                <div class="dropdown-content">
                                    <a href="https://sisportal-100533.campusnexus.cloud/CMCPortal/?wa=wsignin1.0&wtrealm=https%3a%2f%2fsisportal-100533.campusnexus.cloud%2fCMCPortal%2f&wctx=rm%3d0%26id%3dpassive%26ru%3d%252fCMCPortal%252fsecure%252fstaff%252fstaportal.aspx&wct=2020-05-07T13%3a03%3a17Z">{{header.nav.studentServices.selfServicePortal}}</a>
                                    <a href="https://online.ltuc.com/d2l/home">{{header.nav.studentServices.desireToLearn}}</a>
                                    <a href="https://employmenthub.ltuc.com">{{header.nav.studentServices.EducationForEmployment}}</a>
                                </div>
                            </li>
                            <li><a href="#footer">{{header.nav.contactUs}}</a></li>
                        </ul>
                        <div></div>
                   
                </nav>
            </header>
            </script>